GPATH
GRTAGS
GTAGS
*.pyc
*.egg-info/
*.cleanup
*.backup
.DS_Store
autogen/
scratch/
log/
/build
/build-*
build_artifacts/
test_artifacts/
tmp/
*~
*#
.#*
docs/_build/
.idea/
doc-nogit/
*.iml
*.swp
*.swo
.nrepl-port
.repl/
nohup.out
{*__main__*
**/.coverage*
**/out
**/cmake-build-debug
CMakeLists.txt